/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 4:07:28 PM
    Author     : gminardi
*/

#content { position: relative;}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
}

.tddiv {  
  white-space: nowrap;                      
  overflow: hidden;              /* "overflow" value must be different from "visible" */    
  text-overflow: ellipsis;  
}  

#login {
	position: relative;
	top: 80px;
}

align-right {
	text-align: right;
}

login-error {
	font-size: 16px;
	font-weight: bold;
	font-color: red;
}

login-success{
    font-size: 20px;
    font-weight: bold;
}
